##  Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [1]:
import pandas as pd
import requests

In [2]:
response= requests.get('https://python.zgulde.net/api/v1/items')
response.text

'{"payload":{"items":[{"item_brand":"Riceland","item_id":1,"item_name":"Riceland American Jazmine Rice","item_price":0.84,"item_upc12":"35200264013","item_upc14":"35200264013"},{"item_brand":"Caress","item_id":2,"item_name":"Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct","item_price":6.44,"item_upc12":"11111065925","item_upc14":"11111065925"},{"item_brand":"Earths Best","item_id":3,"item_name":"Earths Best Organic Fruit Yogurt Smoothie Mixed Berry","item_price":2.43,"item_upc12":"23923330139","item_upc14":"23923330139"},{"item_brand":"Boars Head","item_id":4,"item_name":"Boars Head Sliced White American Cheese - 120 Ct","item_price":3.14,"item_upc12":"208528800007","item_upc14":"208528800007"},{"item_brand":"Back To Nature","item_id":5,"item_name":"Back To Nature Gluten Free White Cheddar Rice Thin Crackers","item_price":2.61,"item_upc12":"759283100036","item_upc14":"759283100036"},{"item_brand":"Sally Hansen","item_id":6,"item_name":"Sally Hansen Nail Color Magnetic 903 Silver Elements","item_price":6.93,"item_upc12":"74170388732","item_upc14":"74170388732"},{"item_brand":"Twinings Of London","item_id":7,"item_name":"Twinings Of London Classics Lady Grey Tea - 20 Ct","item_price":9.64,"item_upc12":"70177154004","item_upc14":"70177154004"},{"item_brand":"Lea & Perrins","item_id":8,"item_name":"Lea & Perrins Marinade In-a-bag Cracked Peppercorn","item_price":1.68,"item_upc12":"51600080015","item_upc14":"51600080015"},{"item_brand":"Van De Kamps","item_id":9,"item_name":"Van De Kamps Fillets Beer Battered - 10 Ct","item_price":1.79,"item_upc12":"19600923015","item_upc14":"19600923015"},{"item_brand":"Ahold","item_id":10,"item_name":"Ahold Cocoa Almonds","item_price":3.17,"item_upc12":"688267141676","item_upc14":"688267141676"},{"item_brand":"Honest Tea","item_id":11,"item_name":"Honest Tea Peach White Tea","item_price":3.93,"item_upc12":"657622604842","item_upc14":"657622604842"},{"item_brand":"Mueller","item_id":12,"item_name":"Mueller Sport Care Basic Support Level Medium Elastic Knee Support","item_price":8.4,"item_upc12":"74676640211","item_upc14":"74676640211"},{"item_brand":"Garnier Nutritioniste","item_id":13,"item_name":"Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam","item_price":6.47,"item_upc12":"603084234561","item_upc14":"603084234561"},{"item_brand":"Pamprin","item_id":14,"item_name":"Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief","item_price":7.54,"item_upc12":"41167300121","item_upc14":"41167300121"},{"item_brand":"Suave","item_id":15,"item_name":"Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut","item_price":9.11,"item_upc12":"79400847201","item_upc14":"79400847201"},{"item_brand":"Burts Bees","item_id":16,"item_name":"Burts Bees Daily Moisturizing Cream Sensitive","item_price":5.17,"item_upc12":"792850014008","item_upc14":"792850014008"},{"item_brand":"Ducal","item_id":17,"item_name":"Ducal Refried Red Beans","item_price":1.16,"item_upc12":"88313590791","item_upc14":"88313590791"},{"item_brand":"Scotch","item_id":18,"item_name":"Scotch Removable Clear Mounting Squares - 35 Ct","item_price":4.39,"item_upc12":"21200725340","item_upc14":"21200725340"},{"item_brand":"Careone","item_id":19,"item_name":"Careone Family Comb Set - 8 Ct","item_price":0.74,"item_upc12":"41520035646","item_upc14":"41520035646"},{"item_brand":"Usda Produce","item_id":20,"item_name":"Plums Black","item_price":5.62,"item_upc12":"204040000000","item_upc14":"204040000000"}],"max_page":3,"next_page":"/api/v1/items?page=2","page":1,"previous_page":null},"status":"ok"}\n'

In [3]:
#Store the response in a variable
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [4]:
# check the keyload keys
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [5]:
#Retrieve items from the dictionary
items = pd.DataFrame(data['payload']['items'])
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [6]:
#Set a base url for additional requests
base_url = 'https://python.zgulde.net'

In [7]:
#Make a request for the information on the next page
response2 = requests.get(base_url + data['payload']['next_page'])

In [8]:
#Store the results of the request in a new dataframe
data2 = response2.json()

items2 = pd.DataFrame(data2['payload']['items'])
items2.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
1,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
2,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
3,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
4,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428

In [9]:
#Add the results of my new request to the original dataframe
items = pd.concat([items, items2]).reset_index()
items.shape

(40, 7)

In [10]:
#Make one more request for the final page of data
response3 = requests.get(base_url + data2['payload']['next_page'])

data3 = response3.json()

items3 = pd.DataFrame(data3['payload']['items'])

items3.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
1,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
2,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
3,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
4,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237

In [11]:
#Add the results to my items dataframe
items = pd.concat([items, items3]).reset_index()
items.shape

(50, 8)

## Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [12]:
#Make a request for the stores data
response_stores = requests.get('https://python.zgulde.net/api/v1/stores')

data_stores = response_stores.json()

data_stores.keys()

dict_keys(['payload', 'status'])

In [13]:
#Check out the keys
data_stores['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [14]:
#Store the results of my request in a dataframe
stores = pd.DataFrame(data_stores['payload']['stores'])

stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

## Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [15]:
#Make a request of the first page of data
response_sales = requests.get('https://python.zgulde.net/api/v1/sales')

data_sales = response_sales.json()

data_sales.keys()

dict_keys(['payload', 'status'])

In [16]:
#Take a look at the keys
data_sales['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [17]:
#What's the max page in my dataset?
data_sales['payload']['max_page'], type(data_sales['payload']['max_page'])

(183, int)

In [18]:
#Save the max page integer to a variable
max_page_sales = data_sales['payload']['max_page']

In [20]:
#Loop through the pages and concatenate the request results to my dataframe
sales_url = 'https://python.zgulde.net/api/v1/sales?page='

sales = pd.DataFrame(data_sales['payload']['sales'])

for i in range(2, max_page_sales + 1):
    response = requests.get(sales_url + str(i))
    json = response.json()
    df = pd.DataFrame(json['payload']['sales'])
    sales = pd.concat([sales, df])

(913000, 5)

# Save the data in your files to local csv files so that it will be faster to access in the future.

In [22]:
items.to_csv('items.csv')
stores.to_csv('stores.csv')
sales.to_csv('sales.csv')

# Combine the data from your three separate dataframes into one large dataframe.

In [23]:
df= sales.merge(items, how='left, left_on='item, right_on='item_id')
df.head()

SyntaxError: invalid syntax (1877563264.py, line 1)

# Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [ ]:
#Define a function to read all items data and return a dataframe
def get_items():
    
    base_url = 'https://python.zgulde.net'
    
    response = requests.get('https://python.zgulde.net/api/v1/items')
    
    data = response.json()
    
    items = pd.DataFrame(data['payload']['items'])
    
    next_page = data['payload']['next_page']
    
    while next_page != None:
        
        response = requests.get(base_url + next_page)
        
        data = response.json()
        
        next_page = data['payload']['next_page']
        
        new_items = pd.DataFrame(data['payload']['items'])
        
        items = pd.concat([items, new_items])
    
    items.reset_index(drop=True, inplace=True)
    
    #items.to_csv('items.csv')
    
    return items

In [ ]:
def get_stores_data():
    '''This function will connect to thehttps://python.zach.lol/api/v1/stores. It will then cache a local copy to the computer to use for later
        in the form of a CSV file.'''
    filename = "stores.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
    #empty list for holding items
        items_list = []
        response = requests.get('https://python.zach.lol/api/v1/stores')
        data = response.json()
        n = data['payload']['max_page']
        #from items in json, turn into a list
        for i in range(1,n+1):
            url = 'https://python.zach.lol/api/v1/stores?page='+str(i)
            response = requests.get(url)
            data = response.json()
            page_stores = data['payload']['stores']
            stores_list += page_stores
        #turn items from list into a dataframe
        stores = pd.DataFrame(stores_list)
        return stores

In [ ]:
def get_sales_data():
    '''This function will connect to thehttps://python.zach.lol/api/v1/sales. It will then cache a local copy to the computer to use for later
        in the form of a CSV file.'''
    filename = "sales.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
    #empty list for holding items
        items_list = []
        response = requests.get('https://python.zach.lol/api/v1/sales')
        data = response.json()
        n = data['payload']['max_page']
        #from items in json, turn into a list
        for i in range(1,n+1):
            url = 'https://python.zach.lol/api/v1/ale?page='+str(i)
            response = requests.get(url)
            data = response.json()
            page_sales = data['payload']['salees']
            sales_list += page_sales
        #turn items from list into a dataframe
        sales = pd.DataFrame(sales_list)
        return sales

In [ ]:
def make_one_df():
    items = pd.read_csv('items.csv')
    stores = pd.read_csv('stores.csv')
    sales= pd.read_csv('sales.csv')
    # Merge sales with stores
    complete_df = sales.merge(stores, left_on='store', right_on='store_id')
    # Merge sales and stores on items
    complete_df = complete_df.merge(items, left_on='item', right_on='item_id')
    # Make complete dataframe to a csv
    complete_df.to_csv('complete_df.csv')
    return complete_df